@model UserViewModel

@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" asp-controller="Account">
    <div class="col-5">
        <div class="form-group">
            @Html.LabelFor(x => x.Id)
            @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Id)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
